body {
    font-family: Arial, sans-serif;
}

.topnav {
    background-color: white;
    padding: 10px;
}

.topnav a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.topnav a.active {
    font-weight: bold;
    color: green;
}

div {
    margin: 50px;
}